.c-header-inner {
    @apply flex items-center gap-2 mx-[100px];
  }

  .c-menu {
    @apply flex;
  }

  .c-menu li {
    @apply relative px-[10px] py-[11px];
  }

  .c-menu > ul > li > a {
    @apply font-semibold text-[14px] flex items-center justify-center h-full;
  }

  .active::before {
    content: "";
    @apply absolute top-0 left-1/2 -translate-x-1/2 w-10 h-[2px] bg-red-600;
  }

  .c-dropdown-menu {
    @apply bg-white shadow-lg rounded mt-2 w-48 p-2 z-50;
  }

  .c-dropdown-menu.is-right {
    left: auto;
    right: 0;
  }

  .c-dropdown-menu ul li {
    @apply px-2 py-1 hover:text-sub;
    padding: 8px 0;
  }

  /* Container Wrapper */
  .c-container {
    max-width: 1170px;
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .c-head {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .c-head_left {
    padding-right: 14px;
    padding-bottom: 15px;
    width: calc(100% - 315px);
    border-right: 1px solid #e9e9e9;
  }

  .c-head_top {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .c-head_big {
    order: 2;
    padding-left: 15px;
    width: 67.2619047619%;
  }

  .c-template-grid .b-grid .b-grid_content {
    margin-left: 0;
  }

  .c-head_side {
    position: relative;
    order: 1;
    width: 32.7380952381%;
    padding-right: 14px;
    border-right: 1px solid #e9e9e9;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .c-template-grid > ul {
    list-style: none;
    padding: 0;
  }

  .c-template-grid > ul > li {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .c-template-grid > ul > li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .c-template-grid .b-grid {
    min-height: 0;
    margin: 0;
    padding: 0;
  }

  .c-template-grid .b-grid .b-grid_img {
    width: auto;
    height: auto;
    float: none;
    margin-bottom: 10px;
  }

  .c-template-grid .b-grid .b-grid__img a {
    display: block;
    padding-top: 66.6666666667%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .b-grid .b-grid_img {
    overflow: hidden;
    background-color: #ececec;
    background-image: url(/dist/icons/default.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .c-template-grid .b-grid .b-grid_content {
    margin-left: 0;
  }

  .c-template-grid .b-grid .b-grid_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
  }

  .c-template-grid .b-grid .b-grid_title_top a {
    font-size: 26px;
    font-weight: bold;
    transition: all 0.2s ease;
  }

  .c-template-grid .b-grid .b-grid_title_top a:hover {
    color: #ee1f23;
  }

  .c-template-grid .b-grid .b-grid_title a:hover {
    color: #ee1f23;
  }

  .c-template-grid > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease;
  }

  /* Head Bottom */
  .c-head_bottom {
    margin-bottom: -20px;
    min-height: 20px;
  }

  .c-template-grid.is-col-3-pc > ul {
    margin: 0 -15px;
    display: flex;

    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .c-head_bottom .c-template-grid > ul > li {
    position: relative;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  .c-template-grid.is-col-3-pc > ul > li {
    padding-left: 15px;
    padding-right: 15px;
  }

  .c-head_bottom .c-template-grid > ul > li:nth-child(1),
  .c-head_bottom .c-template-grid > ul > li:nth-child(2),
  .c-head_bottom .c-template-grid > ul > li:nth-child(3) {
    margin-bottom: 20px;
  }

  .c-head_bottom .c-template-grid > ul > li:nth-child(3n + 2),
  .c-head_bottom .c-template-grid > ul > li:nth-child(3n + 3) {
    border-left: 1px solid #d1d1d1;
  }

  .c-head_bottom .c-template-grid > ul > li {
    margin-bottom: 0;
  }

  .c-head_bottom .c-template-grid > ul > li:nth-child(4),
  .c-head_bottom .c-template-grid > ul > li:nth-child(5) {
    border-bottom: none;
  }

  /* Head right */
  .c-head_right {
    padding-left: 15px;
    width: 315px;
  }

  .c-topic-area.is-margin-bottom {
    margin-bottom: 20px;
  }

  .c-box:last-child {
    margin-bottom: 0;
  }

  .c-box .c-box_title {
    padding-bottom: 15px;
  }

  .c-box .c-box_title.is-decor {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .c-topic-area .c-box .c-box_title .c-box_title_name {
    font-size: 20px;
    font-weight: 700;
  }

  .c-box .c-box__title.is-decor .c-box__title__name {
    order: 1;
  }

  .c-box .c-box_title .c-box_title_decor {
    height: 20px;
    border-bottom: 2px solid #e9e9e9;
    flex-grow: 1;
    height: 18px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
    order: 2;
  }

  .c-box .c-box_title .c-box_title_decor:before {
    content: "";
    width: 11px;
    height: 12px;
    background-image: url("/dist/images/box-decor.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    left: -11px;
    bottom: -2px;
  }

  .c-template-list > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .c-topic-area .c-template-list > ul > li {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #d1d1d1;
  }

  .c-topic-area .c-template-list > ul > li:first-child .b-grid .b-grid_img {
    width: auto;
    margin-bottom: 10px;
  }

  .c-template-list .b-grid .b-grid_img {
    height: auto;
    float: none;
  }

  .c-template-list .b-grid .b-grid_img a {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .c-template-list .b-grid .b-grid__img img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .c-topic-area .c-template-list > ul > li:first-child .b-grid .b-grid_content {
    padding-right: 0;
    width: auto;
  }

  .c-template-list .b-grid .b-grid_row:last-child {
    margin-bottom: 0;
  }

  .c-head_right
    .c-topic-area
    .c-template-list
    > ul
    > li:first-child
    .b-grid
    .b-grid_title {
    font-size: 18px;
  }

  .c-topic-area .c-template-list > ul > li:first-child .b-grid .b-grid_title {
    font-weight: 700;
  }

  .c-template-list .b-grid .b-grid_title:first-child {
    margin-top: 0;
  }

  .c-template-list .b-grid .b-grid_title a {
    transition: all 0.2s ease;
  }

  .c-template-list .b-grid .b-grid_title a:hover {
    color: #ee1f23;
  }

  .c-topic-area .c-template-list .b-grid {
    display: flex;
    flex-direction: row-reverse;
  }

  

  .c-template-list .b-grid {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .c-topic-area .c-template-list .b-grid .b-grid_img {
    width: 100px;
  }

  .c-topic-area .c-template-list .b-grid .b-grid_content {
    width: calc(100% - 100px);
  }

  .c-topic-area .c-template-list .b-grid .b-grid_content {
    margin-left: 0;
    padding-right: 10px;
    padding-left: 0;
  }

  .c-head_right .c-topic-area .c-template-list .b-grid .b-grid_title {
    font-weight: 700;
  }

  .c-box.is-margin-small {
    margin-bottom: 15px;
  }

  .c-template-grid.is-hot:last-child {
    margin-bottom: 0;
  }

  .c-template-grid.is-hot {
    padding: 15px;
    border: 1px solid #ffc3c3;
    border-radius: 10px;
  }

  .c-template-grid_label {
    color: #ee1f23;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    line-height: 1.4;
    font-size: 14px;
    text-transform: uppercase;
  }

  .c-head_right .c-template-grid.is-hot .b-grid .b-grid_row {
    margin-bottom: 0;
  }

  .c-head_right .c-template-grid.is-hot .b-grid .b-grid_row {
    margin-bottom: 0;
  }
  