<div class="container">
  <div class="footer-main">
    <div class="footer-col col-1">
      <div class="footer-logo">
        <a href="/"
          ><img src="https://ddk.1cdn.vn/assets/images/logo.svg" alt="logo"
        /></a>
      </div>
    </div>
    <div class="footer-col col-2">
      <div class="footer-content">
        <p>
          Tổng Biên tập:
          <b>TRƯƠNG THÀNH TRUNG</b>
        </p>
        <p>
          Giấy phép hoạt động báo điện tử:
          <b>Số 586/GP-BTTTT, cấp ngày 13/12/2022.</b>
        </p>
      </div>
    </div>
    <div class="footer-col col-3">
      <div class="footer-content">
        <p>Thông tin tòa soạn</p>
        <p>
          Địa chỉ:
          <b>66 Bà Triệu - Hà Nội</b>
        </p>
        <p>
          Địa chỉ:
          <b>59 Tràng Thi, Hoàn Kiếm, Hà Nội</b>
        </p>
        <p>
          Hotline:
          <b>0862010866</b>
          Fax:
          <b>(024) 38228547</b>
        </p>
        <p>Liên hệ quảng cáo: <b>(024) 39431943 - (024) 39447011</b></p>
      </div>
    </div>
  </div>
</div>
<div class="powered">
  <div class="container">
    <div class="powered-content">
      (*) Không sao chép dưới mọi hình thức khi chưa có sự đồng ý bằng văn bản
      của Báo Đại Đoàn Kết.
    </div>
  </div>
</div>
