<div
      class="container mx-auto px-4 flex flex-col lg:flex-row lg:justify-start lg:items-start justify-between items-center py-6 lg:pt-6 lg:pb-9">
      <div class="footer-logo lg:p-0 pb-[15px] lg:w-1/3">
        <picture>
          <img src="../../dist/icon/logo.svg" class="lg:w-[260px] lg:h-16 w-[195px] h-[47px]" alt="Logo Đại đoàn kết">
        </picture>
      </div>

      <div class="flex flex-col lg:p-0 pb-[15px] lg:items-start items-center lg:w-1/3">
        <p class="pr-1">Tổng Biên tập:
          <strong class="uppercase">trương thành trung</strong>
        </p>
        <p>Giấy phép hoạt động báo điện tử:</p>
        <p>Số 586/GP-BTTTT, cấp ngày 13/12/2022</p>
      </div>

      <div class="flex flex-col lg:justify-start lg:items-start justify-start items-center lg:w-1/3">
        <div class="flex flex-col lg:items-start items-center pb-3">
          <p>Thông tin tòa soạn:</p>
          <p>Địa chỉ: 59 Tràng Thi, Hà Nội</p>
          <p>Địa chỉ: 66 Bà Triệu, Hà Nội</p>
          <div class="flex flex-row gap-4">
            <p>Hotline: 0862010866</p>
            <p>Fax: (024) 38228547</p>
          </div>
        </div>
        <div class="ad-contact border flex flex-row border-iris-200 py-2 px-3 gap-2">
          <img src="../../dist/icon/Phone.svg" class="w-6 h-6" alt="Icon liên hệ">
          <p class="">Liên hệ quảng cáo: <strong>(024) 39431943 - (024) 39447011</strong></p>
        </div>
      </div>
    </div>
    <div class="powered py-2 px-3 bg-iris-100">
      <span>(*) Không sao chép dưới mọi hình thức khi chưa có sự đồng ý bằng văn bản của Báo Đại Đoàn Kết.</span>
    </div>